<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>

<body>

<h1>Login</h1>

<form id="login" action="/login" method="POST">
  Email: <input type="text" name="email"><br>
  Password: <input type="text" name="password"><br>
  <input type="submit" value="Login">
</form>

<p>Don't you have an account yet? <a href="/register">Register</a> first!</p>

</body>

</html>
