<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Overview of all the posts</title>
</head>

<body>
<a href="/logout">Log out</a>

<p>Hey <%= user_info.user_name %>, here you see an overview of all the recent posts on B.Blog</p>

<!-- <a href="/create-post">Create Post</a>
<a href="/aloha/posts">View your own Post</a> -->

<% for(let i = 0 ; i < data.length ; i++) { %>


  <h1><%= data[i].dataValues.post_title %></h1>
  <p><%= data[i].dataValues.post_body %></p>
  <p><%= data[i].dataValues.post_id %></p>

  <h3>Comment</h3>

  <form id="messages" action="/add-comment" method="POST">
    <textarea rows="4" cols="50" name="body" type="text" placeholder="Message"></textarea><br>
    <textarea rows="1" cols="10" name="post_id" type="text" placeholder="Post ID"></textarea><br>
    <input type="submit" value="Submit">
  </form>


  <hr>
<% } %>

</body>

<script>
// Cookies.set('name', 'value', { expires: 7 });
</script>

</html>
