<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Overview of all the posts</title>
</head>

<body>

<% for(var i = 0 ; i < data.length ; i++) { %>
  <p><%= data[i] %></p>
  <hr>
<% } %>

</body>

</html>
