<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Overview of all the posts</title>
<!-- <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script> -->
</head>

<body>

<% for(var i = 0 ; i < data.length ; i++) { %>
  <p><%= data[i] %></p>



  <h1>Comment</h1>

  <form id="messages" action="/add-comment" method="POST">
    <textarea rows="4" cols="50" name="body" type="text" placeholder="Message"></textarea><br>
    <input type="submit" value="Submit">
  </form>


  <hr>
<% } %>

</body>

<script>
// Cookies.set('name', 'value', { expires: 7 });
</script>

</html>
