<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Overview of all the posts</title>
</head>

<body>
<a href="/logout">Log out</a>

<h1>All <%= user_info.user_name %>'s posts</h1>

<% for(let i = 0 ; i < data.length ; i++) { %>
  <h1><%= data[i].dataValues.post_title %></h1>
  <p><%= data[i].dataValues.post_body %></p>
  <a href="/post/<%= data[i].dataValues.post_id %>">See comments</a>
  <hr>
<% } %>

</body>

</html>
