<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>

<body>

<h1>Register your account</h1>

<form id="register" action="/register" method="POST">
  User name: <input type="text" name="user_name"><br>
  Email: <input type="text" name="email"><br>
  Password: <input type="text" name="password"><br>
  <input type="submit" value="Register">
</form>

<p>Do you have an account yet? <a href="/login">Login</a> directly!</p>

</body>

</html>
